﻿@page
@model IndexModel
	<div class="container">

		<div class="header"><h1>Tamagotchi</h1></div>

		@if (Model.Pets.Count > 0)
		{
		<h2>Here is the liset of your pets:</h2>
		<div class="list-group">
				@foreach (var pet in Model.Pets)
				{
					<a class="list-group-item list-group-item-action" asp-page="viewPet" asp-route-id=@pet.Id> @pet.Name</a>
				}
			</div>
		}

	<form method="post" id="frmAddPet">
		<div class="form-row align-items-center">
			<div class="col-auto">
				<label class="control-label" for="txtPetName">Add new pet</label>
			</div>
			<div class="col-auto">
				<input type="text" class="form-control mb-2"  asp-for="@Model.PetName" placeholder="Pet name">
			</div>
			<div class="col-auto">
				<input class="btn btn-primary mb-2" type="submit" value="Add" />
			</div>
		</div>
	</form>

