﻿@page
@model ViewPetModel

<div class="container" style="padding-top: 20px;">
	<div class="row">
		<div class="col-12" id="UI">
			<div class="row">
				<div class="col petHeader">
					<h1>Pet details:</h1>
					<h2>Name: @Model.Info.Name</h2>
					<h2>Status: 
						It's @if (Model.Info.IsAlive)
						{
							<span>ALIVE</span>
						}
						else
						{
							<span>DEAD</span>
						}
					</h2>
					<h4><a asp-page="index">Back to list of pets</a></h4>
				</div>

				<div class="col pane">
					<div class="row">
						<div class="col col-4">
							<h1>HERE COULD BE A PET IMAGE</h1>
						</div>
						<div class="col col-4" id="stats">
							<div class="stat-container">
								<label>Fullness:</label>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width: @Model.Info.Fullness%"></div>
								</div>
								<label>Tiredness:</label>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width:  @Model.Info.Tiredness%"></div>
								</div>
								<label>Sadness:</label>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width:  @Model.Info.Sadness%"></div>
								</div>
								<label>Hangriness:</label>
								<div class="progress">
									<div class="progress-bar bg-success" role="progressbar" style="width:  @Model.Info.Hangriness%"></div>
								</div>
							</div>
						</div>

						<div class="col col-4" id="controls">
							<button data-action="play" type="button" class="btn btn-primary action-button btnPlay">PLAY</button>
							<hr />
							<button data-action="feed" type="button" class="btn btn-primary action-button btnFeed">FEED</button>
							<hr />
							<button data-action="poop" type="button" class="btn btn-primary action-button btnPoop">POOP</button>
							<hr />
							<button data-action="sleep" type="button" class="btn btn-primary action-button btnSleep">SLEEP</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.pane {
		background: #f3f3f3;
		padding: 2em;
		border-radius: 25px;
		box-shadow: 0 10px 10px rgba(0,0,0,.55);
	}
</style>

@section Scripts {
	<script src="~/js/view.js"></script>
}
